<!--
 __  __     ______     __         ______
/\ \_\ \   /\  __ \   /\ \       /\  ___\
\ \  __ \  \ \  __ \  \ \ \____  \ \  __\
\ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_\
 \/_/\/_/   \/_/\/_/   \/_____/   \/_/
 __  __     ______     __         __     __  __
/\ \_\ \   /\  ___\   /\ \       /\ \   /\_\_\_\
\ \  __ \  \ \  __\   \ \ \____  \ \ \  \/_/\_\/_
 \ \_\ \_\  \ \_____\  \ \_____\  \ \_\   /\_\/\_\
  \/_/\/_/   \/_____/   \/_____/   \/_/   \/_/\/_/

modern design and development agency  ¯\_(ツ)_/¯
www.halfhelix.com
-->

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    {{ content }}
  </div>

  {% include footer.html %}

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  {% include analytics.html %}

</body>

</html>
